/* index.css */

body, html {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8; /* Un color de fondo claro y suave */
  color: #333;
  line-height: 1.6;
  height: 100%; /* Asegura que el html y body ocupen toda la altura */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centra todo el contenido principal vertical y horizontalmente */
html {
  width: 80%;
  max-width: 700px; /* Ajusta este valor según prefieras */
  margin: 0 auto;
  text-align: center; /* Centra los textos y elementos inline o inline-block */
}

/* Estilos para el contador de tareas */
.todo-counter {
  font-size: 35px;
  font-weight: bold;
  margin: 20px 0;
  color: #2b6cb0; /* Un azul marino suave */
}

/* Estilos para la caja de búsqueda */
.todo-search input {
  width: 100%;
  max-width: 400px; /* Mantiene la caja de búsqueda razonablemente ancha */
  padding: 10px;
  margin: 20px 0;
  border: 2px solid #2b6cb0; /* Borde azul marino */
  border-radius: 20px;
  box-sizing: border-box;
}

/* Estilos para la lista de tareas */
.todo-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.todo-item {
  background-color: #fff; /* Fondo blanco para las tarjetas */
  border: 1px solid #e0e0e0; /* Un borde sutil */
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para el botón de agregar nueva tarea */
.todo-button {
  background-color: #34d399; /* Verde claro para el botón */
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0;
  display: inline-block; /* Permite centrar el botón con text-align */
  transition: background-color 0.3s;
}

.todo-button:hover {
  background-color: #2b6cb0; /* Cambia a azul marino al pasar el cursor */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-logo {
  position: absolute;
  right: 0; /* Posiciona el logo a la derecha */
  animation: spin 4s linear infinite; /* Aplica la animación */
}

.app-logo {
  /* ... */
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la relación de aspecto */
  top: 10px; /* Ajusta la posición desde la parte superior si es necesario */
  left: 10px; /* Ajusta la posición desde la derecha si es necesario */
}